@using ClothingOrderAndStockManagement.Application.Dtos.Items
@model UpdateItemCategoryDto

<div class="modal fade" id="editCategoryModal-@Model.ItemCategoryId" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form asp-action="Edit" asp-controller="ItemCategories" method="post">
                @Html.AntiForgeryToken()
                <div class="modal-header">
                    <h5 class="modal-title">Edit Category</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>

                <div class="modal-body">
                    <div asp-validation-summary="ModelOnly" class="text-danger mb-3"></div>
                    <input type="hidden" name="ItemCategoryId" value="@Model.ItemCategoryId" />
                    <div class="mb-3">
                        <label class="form-label">Category Name *</label>
                        <input name="ItemCategoryType"
                               value="@Model.ItemCategoryType"
                               class="form-control" required maxlength="100" />
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
